.main-layout {
  min-height: 100vh;
  background: #0f0f0f;
}

.main-header {
  height: 20vh;
  display: flex;
  align-items: center;
  /* padding: 0 24px; */
  background: #1a1a1a !important;
  border-bottom: 2px solid #333;
  line-height: normal !important;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-btn {

  font-weight: 700 !important;
  letter-spacing: 1px;
  /* transition: all 0.3s ease; */
}

.nav-btn:hover {
  /* transform: translateX(5px); */
  box-shadow: 0 0 15px rgba(24, 144, 255, 0.5);
}

.main-content {
  padding: 40px;
  color: #fff;
  min-height: 80vh;
}
